<div 
  class="footer-top d-flex justify-content-center align-items-center flex-column">
  <div class="align-items-center container  ">
    <div class="row">
      <div class=" col-sm-4">
        <a href="/Home/best-event-organizer" class="logo"><img src="../../../assets/marks/logo.png" width="120"
            height="120" alt="Prime Event & Wedding logo"></a>
        <div class="footer-info d-flex flex-column justify-content-center align-items-center">
          <p class="text-3 text-center">
            Ultadanga road <br>
            kolkata -700048<br><br>
            <strong>Phone:</strong>+91 6289054155/+91 9836366899<br>
            <strong>Email:</strong> <a class="text-3" href="mailto:primeeventandwedding@gmail.com">
              primeeventandwedding@gmail.com</a>
          </p>
          <div class="social-links mt-3">
            <a href="https://www.facebook.com/primeeventandwedding" class="facebook" title="Follow us on Facebook"
              target="_blank" rel="noopener"> <img src="../../../assets/svg/fb.svg" alt="Facebook" width="32" height="32"> </a>
            <a href="https://www.instagram.com/primeeventandwedding" class="instagram" title="Follow us on Instagram"
              target="_blank" rel="noopener"> <img src="../../../assets/svg/insta.svg" alt="Instagram" width="32" height="32"> </a>
            <a href="https://wa.me/919836366899" class="google-plus" title="WhatsApp us" target="_blank" rel="noopener"><img
                src="../../../assets/svg/wp.svg" alt="WhatsApp" width="32" height="32"></a>
            <a href="https://www.facebook.com/primeeventandwedding" title="Prime Event on social media" class="linkedin" target="_blank" rel="noopener"><img
                src="../../../assets/svg/tweeter.svg" alt="Social media" width="32" height="32"></a>
            <a href="https://youtube.com/channel/UCFcpJy0aAGQEMSsm37FVW0w" title="Prime Event YouTube channel" class="whatsapp"
              target="_blank" rel="noopener"><img src="../../../assets/svg/youtube.svg" alt="YouTube" width="32" height="32"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-2 footer-links my-5">
        <h5 class="text-3 "> Company </h5>
        <ul>
          <li class="text-3"> <i class="fas fa-angle-right"></i> <a routerLink="/Home/best-event-organizer" href="/Home/best-event-organizer" title="PEW Home">Home</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/why-primeevent" href="/Home/default/why-primeevent"
              title="PEW about">Why us</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/about" href="/Home/default/about">About us</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/portfolio" href="/Home/default/portfolio"
              title="PEW gallery">Gallery</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/contact-us" href="/Home/default/contact-us"
              title="PEW contact">Contact us</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a href="/sitemap.xml" title="Sitemap">Sitemap</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/best-wedding-planners-kolkata" href="/Home/default/best-wedding-planners-kolkata">Wedding Planners Kolkata</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-links my-5">
        <h5 class="text-3"> Services </h5>
        <ul>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a title="PEW wedding"
              routerLink="/Home/default/wedding-or-anniversary-event" href="/Home/default/wedding-or-anniversary-event">Wedding/Anniversary</a>
          </li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a
              routerLink="/Home/default/engagement-or-ring-ceremony-event" href="/Home/default/engagement-or-ring-ceremony-event" title="PWE Engagement">Engagement/Ring
              Ceremony</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/birthday-house-party" href="/Home/default/birthday-house-party"
              title="PWE Birthday">Birthday/House
              party</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/school-college-event" href="/Home/default/school-college-event"
              title="PWE School/College fest">School/College fest</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/corporate-or-office-event" href="/Home/default/corporate-or-office-event"
              title="PWE Corporate">Corporate/Office
              Event</a></li>
          <li class="text-3"><i class="fas fa-angle-right"></i> <a routerLink="/Home/default/product-launch-event" href="/Home/default/product-launch-event"
              title="PWE Product launch">Product
              launch</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-newsletter my-5">
        <h5 class="text-3 ">Subscribe us for offers</h5>
        <form action="" method="post" accept-charset="utf-8" class=" ">
          <div class="mb-3 form-input ">
            <input type="email" class="" id="phone" placeholder="email">
          </div>
        </form>
        <Button class="align-self-lg-end" class="m-btn-mid">Subscribe</Button>
      </div>
    </div>
  </div>
</div>
<div class="copyright"  >
  <P class="text-3 text-center ">Copyright © 2022 <a class="text-4" href="/Home/best-event-organizer">Primeeventandwedding.co.in</a> All Rights Reserved</P>
  <P class="text-3 text-center">
    Developed by
    <a class="text-2" style="text-decoration: none;" href="https://abhishek-das.educoreva.com" target="_blank"
      rel="noopener noreferrer">Abhishek Das</a>
  </P>
</div>
