.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slider {
  width: 100%;
  height: 95vh;
  position: relative;
  background-color: rgba(26, 0, 0, 0.932);

  .hero-text {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    h1,
    h2 {
      color: rgb(255, 255, 255);
      font-size: max(2vw, 1.4rem);
    }
    p {
      color: rgb(255, 255, 255);
      font-size: max(0.9vw, 0.8rem);
    }
    .logo {
      img {
        width: max(40vw, 18rem);
      }
    }
  }
  .slide-img,
  .slide-img__photo {
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
  }
}
