<div class="container-fluid align-item-center">

  <div class="w-100 ">
    <swiper #swiper [loop]="true" [navigation]="true" [pagination]="{ clickable: true }"
      direction="horizontal" (slideChange)="onSlide()">
      <ng-template swiperSlide>
        <div class="slider container-fluid d-flex justify-content-center">
          <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/hero_images/hero1.jpg'+')'">
          </div>
          <!-- <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/amish-thakkar-7O422yG_b80-unsplash.jpg'+')'"></div> -->
          <div class="hero-text container align-self-center">
            <div class="text-center mx-2">
              <a class="logo"><img data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="2000"
                  src="../../../assets/marks/logo.png" alt=""></a>
              <h1 data-aos="fade-up" data-aos-duration="2000" class="text-3 mx-4">Happily ever after is not a fairy
                tale.
                It’s a choice</h1>
              <p data-aos="fade-up" data-aos-duration="2500" class="text-4 mx-5">Prime Event & Wedding, one of the best
                wedding event managements in Kolkata, provide Complete Wedding, Party or Events
                related services globally to suit your Taste, Style, Budget & Requirements</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider container-fluid d-flex justify-content-center">
          <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/hero_images/hero2.jpg'+')'">
          </div>
          <!-- <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/amish-thakkar-7O422yG_b80-unsplash.jpg'+')'"></div> -->
          <div class="hero-text container align-self-center">
            <div class="text-center mx-2">
              <a class="logo"><img data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000"
                  src="../../../assets/marks/logo.png" alt=""></a>
              <h1 data-aos="fade-up" data-aos-duration="2000" class="text-3 mx-4">A party without cake just a meeting
              </h1>
              <p data-aos="fade-up" data-aos-duration="2500" class="text-4 mx-5"> Prime event and wedding add spices in
                the
                party come and join, We believe a little party never hurt anybody </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider container-fluid d-flex justify-content-center">
          <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/hero_images/hero3.jpg'+')'">
          </div>
          <!-- <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/amish-thakkar-7O422yG_b80-unsplash.jpg'+')'"></div> -->
          <div class="hero-text container align-self-center">
            <div class="text-center mx-2">
              <a class="logo"><img data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000"
                  src="../../../assets/marks/logo.png" alt=""></a>
              <h1 data-aos="fade-up" data-aos-duration="2000" class="text-3 mx-4">You come to love not by finding the
                perfect person, but by seeing an imperfect person perfectly</h1>
              <p data-aos="fade-up" data-aos-duration="2500" class="text-4 mx-5">Have a happy engagement and ring
                ceremony
                May your love for each other always shine brightly wishes from the prime event and wedding</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider container-fluid d-flex justify-content-center">
          <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/hero_images/hero4.jpg'+')'">
          </div>
          <!-- <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/amish-thakkar-7O422yG_b80-unsplash.jpg'+')'"></div> -->
          <div class="hero-text container align-self-center">
            <div class="text-center mx-2">
              <a data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" href="#" class="logo"><img
                  src="../../../assets/marks/logo.png" alt=""></a>
              <h1 data-aos="fade-up" data-aos-duration="2000" class="text-3 mx-4">An extraordinary event is always to
                remember</h1>
              <p data-aos="fade-up" data-aos-duration="2500" class="text-4 mx-5">The two harder things to say in life
                are hello for the first time and goodbye for the last, prime event and wedding is here for you</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="slider container-fluid d-flex justify-content-center">
          <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/hero_images/hero5.jpg'+')'">
          </div>
          <!-- <div class="slide-img" [style.backgroundImage]="'url('+'../../../assets/images/amish-thakkar-7O422yG_b80-unsplash.jpg'+')'"></div> -->
          <div class="hero-text container align-self-center">
            <div class="text-center mx-2">
              <a data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" href="#" class="logo"><img
                  src="../../../assets/marks/logo.png" alt=""></a>
              <h1 data-aos="fade-up" data-aos-duration="2000" class="text-3 mx-4">Productivity is never an accident</h1>
              <p data-aos="fade-up" data-aos-duration="2500" class="text-4 mx-5">There are some people who live in a
                dream world, and there are some who face reality; and then there are those who turn
                one into the other.</p>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>

  <div class="container mt-4 p-3">
    <!-- service -->
    <app-services></app-services>
    <!-- service -->
    <!-- Reviews -->
    <app-testimonial></app-testimonial>
    <!-- Review -->
    <!-- ContactUs -->
    <app-contact-us></app-contact-us>
  </div>
  <!-- footer -->
</div>
