<div class="container">
  <div class="text-start my-4">
    <h5 class="section-title">Connect with US</h5>
    <h2 class="text-1 ">Drop us a Message</h2>
  </div>

  <form (ngSubmit)=" form.valid && onSubmit(form)" #form="ngForm" class="row">
    <div class="mb-3 form-input col-sm-6 ">
      <label for="name" class="form-label">Name</label>
      <input #name="ngModel" name="name" required [pattern]="regex.name" type="text" id="name" placeholder="Name"
        required [ngClass]="{'invalid-input-m':  !vaildRequest && form.submitted && !name.valid}"
        [(ngModel)]="formData.name">
    </div>
    <div class="mb-3  form-input col-sm-6">
      <label for="email" class="form-label">Email address</label>
      <input #email="ngModel" name="email" [pattern]="regex.email"
        [ngClass]="{'invalid-input-m':  form.submitted && !email.valid}" type="email" class="" id="email"
        placeholder="Email" [(ngModel)]="formData.email">
    </div>
    <div class="mb-3  form-input col-sm-6">
      <label for="phone" class="form-label">Phone</label>
      <input type="number" #phone_number="ngModel" name="phone_number" required [pattern]="regex.phone" class=""
        id="phone" placeholder="Phone"
        [ngClass]="{'invalid-input-m':  !vaildRequest && form.submitted && !phone_number.valid}"
        [(ngModel)]="formData.phone">
    </div>
    <div class="mb-3  form-input col-sm-6">
      <label for="selector" class="form-label">Event type</label>
      <div class="custom-select" style="width:200px;">
        <select #event_type="ngModel" name="event_type" [(ngModel)]="formData.event_type">
          <option value="Others">Others</option>
          <option value="Wedding">Wedding</option>
          <option value="Ring ceremony">Ring ceremony</option>
          <option value="Engagement">Engagement</option>
          <option value="Anniversary">Anniversary</option>
          <option value="Birthday Party">Birthday Party</option>
          <option value="House Party">House Party</option>
          <option value="School or college fest">School or college fest</option>
          <option value="Corporate Events">Corporate Events</option>
          <option value="Product launch">Product launch</option>
          <option value="Conference">Conference</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12  form-input">
      <label for="describe" class="form-label">Explain in detail</label>
      <textarea #describe="ngModel" name="describe" class="" id="describe" rows="5"
        [(ngModel)]="formData.describe"></textarea>
    </div>
    <div class="d-flex my-4">
      <button type="submit" class="m-btn-mid" [disabled]="isloading">{{isloading?"Loading..": "Submit"}}</button>

    </div>
  </form>
  <div class="text-start my-4">
    <h5 class="section-title">Contact</h5>
    <h2 class="text-1 ">Our contact details</h2>
  </div>
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-start align-items-center">
      <div class="info">
        <div class="address my-3">
          <h6 class="text-colored">
            <fa-icon [icon]="faLocation"></fa-icon> Location:
          </h6>
          <p class="text-2 ml-3 ">Ultadanga road , kolkata -700048 </p>
        </div>
        <div class="email my-3">
          <h6 class="text-colored">
            <fa-icon [icon]="mail"></fa-icon> Business email:
          </h6>
          <p class="text-3 ml-3"><a class="text-4"
              href="primeeventandwedding@gmail.com">primeeventandwedding@gmail.com</a></p>
        </div>
        <div class="phone my-3">
          <i class="bi bi-phone"></i>
          <h6 class="text-colored">
            <fa-icon [icon]="phone"></fa-icon> Phone number:
          </h6>
          <p class="text-2  ml-3 ">+91 6289054155/+91 9836366899</p>
        </div>
      </div>
      <i class="fa-thin fa-alicorn"></i>
    </div>
    <div class="col-sm-8 map">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
            marginheight="0" marginwidth="0" loading="lazy" title="Prime Event & Wedding location map"
            src="https://maps.google.com/maps?width=1136&amp;height=400&amp;hl=en&amp;q=Ultadanga road , kolkata -700048&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
            href="https://kokagames.com/">Koka Games</a></div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 400px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }

          .gmap_iframe {
            height: 400px !important;
          }

        </style>
      </div>
    </div>
  </div>

</div>
