<!-- service -->
<div class="text-start">
  <h5 class="section-title">Services</h5>
  <h2 class="text-1 ">Checkout our service</h2>
  <!-- <p class="text-4 w-50 mx-auto">The interest for Candid Pre-Wedding Photography Service is high these days, since it is a pattern as well as it catches the lady of the hour and husband to be's valuable minutes before their marriage</p> -->
</div>
<div class="row">
  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a class="text-link" [routerLink]="['/Home/default/wedding-or-anniversary-event']">Wedding or
        Anniversary
        Event</a>
      <div class="image">
        <img src="../../../assets/images/services_images/wedding.jpg" width="400" height="300" loading="lazy"
          alt="Wedding and anniversary event planning in Kolkata">
      </div>
      <p class="text-4 my-3"> Full-service organization that takes care of all things you need related to
        weddings. Whether it’s a caterer,
        decoration, lightning, a dance performance, the venue, or even the gifts you can leave all of this to us. We
        work
        closely with...
        <a [routerLink]="['/Home/default/wedding-or-anniversary-event']">Read
          more</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a title="Wedding Photography" class="text-link"
        [routerLink]="['/Home/default/engagement-or-ring-ceremony-event']">Engagement or Ring ceremony Event</a>
      <div class="image">
        <img src="../../../assets/images/services_images/anniversary.jpg" width="400" height="300" loading="lazy"
          alt="Engagement and ring ceremony event planning">
      </div>
      <p class="text-4 my-3">Getting engaged with your most loved one is always a special feeling. The team of the
        company knows what the client
        wants and has been working tirelessly at creating that perfect experience for them. We assure you that... <a
          [routerLink]="['/Home/default/engagement-or-ring-ceremony-event']" title="">Read more</a></p>
    </div>
  </div>
  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a title="Engagement Photography" class="text-link" [routerLink]="['/Home/default/birthday-house-party']">Birthday
        and house party </a>
      <div class="image">
        <img src="../../../assets/images/services_images/birthday.jpg" width="400" height="300" loading="lazy"
          alt="Birthday and house party event planning">
      </div>
      <p class="text-4 my-3"> Our expert Kolkata will help in organizing a
        themed birthday party in your budget. Whether you’re throwing a surprise
        birthday party for a cherished loved one or for your Prince or Your Lil’l Princess and... <a
          [routerLink]="['/Home/default/birthday-house-party']" title=" ">Read
          more</a></p>
    </div>
  </div>

  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a title="Reception Photography" [routerLink]="['/Home/default/school-college-event']" class="text-link">College
        and School Fest</a>
      <div class="image">
        <img src="../../../assets/images/services_images/college.jpg" width="400" height="300" loading="lazy"
          alt="School and college fest event management">
      </div>
      <p class="text-4 my-3">College annual fest is the event that students eagerly wait for weather it can be school or
        college. Apart from the fun,
        frolic and platform that it offers to students to exhibit their talents, the fest is also an acid test of some
        students'
        managerial skills, as well... <a [routerLink]="['/Home/default/school-college-event']" title="">Read more</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a title="Reception Photography" class="text-link" [routerLink]="['/Home/default/product-launch-event']">Product
        Launch</a>
      <div class="image">
        <img src="../../../assets/images/services_images/product.jpg" width="400" height="300" loading="lazy"
          alt="Product launch event planning">
      </div>
      <p class="text-4 my-3">The product launches are generally event which is organized at bigger levels as the keen
        target itself is to collect a
        larger audience. The basic purpose is to give a boost to sales by building consumer awareness.This product
        launch event
        can also serve... <a [routerLink]="['/Home/default/product-launch-event']" title="">Read more</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 mt-md-0" data-aos="zoom-in-up">
    <div class="icon-box">
      <a title="Reception Photography" class="text-link"
        [routerLink]="['/Home/default/corporate-or-office-event']">Corporate
        Events</a>
      <div class="image">
        <img src="../../../assets/images/services_images/corporate.jpg" width="400" height="300" loading="lazy"
          alt="Corporate and office event planning">
      </div>
      <p class="text-4 my-3">We are not only the most experienced corporate events managers, but we are a complete
        management house to support you
        host the program with all the ingredients and arrangements you need.
        Our experience and infrastructural support... <a [routerLink]="['/Home/default/corporate-or-office-event']"
          title="">Read more</a></p>
    </div>
  </div>
</div>
<!-- section -->
<div class="text-start">
  <h5 class="section-title">Provide</h5>
  <h2 class="text-1 ">What we provide ?</h2>
  <!-- <p class="text-4 w-50 mx-auto">The interest for Candid Pre-Wedding Photography Service is high these days, since it is a pattern as well as it catches the lady of the hour and husband to be's valuable minutes before their marriage</p> -->
</div>
<div class="row mx-auto justify-content-between section">
  <div class="col-md-2  col-md-offset-1 margin-top-40 margin-bottom-15 text-center">
    <div class="icon"><img src="../../../assets/svg/tent.svg"></div>
    <h3 class="text-3 my-3"><strong>Decor</strong></h3>
    <p class="text-4">Prime event and wedding provide the best decor to memories your event.</p>
  </div>
  <div class="col-md-2   margin-top-40 margin-bottom-15 text-center">
    <div class="icon"><img src="../../../assets/svg/place.svg"></div>
    <h3 class="text-3 my-3"><strong>Venue</strong></h3>
    <p class="text-4">For the stunning venue prime event stands the best</p>
  </div>
  <div class="col-md-2 margin-top-40 margin-bottom-15 text-center">
    <div class="icon"><img src="../../../assets/svg/fooding.svg"></div>
    <h3 class="text-3 my-3"><strong>Food</strong></h3>
    <p class="text-4">Food is the most important part of any event, prime event and wedding provide you the best food
      in
      quality.</p>
  </div>
  <div class="col-md-2  margin-top-40 margin-bottom-15 text-center">
    <div class="icon"><img src="../../../assets/svg/certificate.svg"></div>
    <h3 class="text-3 my-3"><strong>License</strong></h3>
    <p class="text-4">The prime event and wedding provides all types of event license.</p>
  </div>
  <div class="col-md-2 margin-top-40 margin-bottom-15 text-center">
    <div class="icon"><img src="../../../assets/svg/mic.svg"></div>
    <h3 class="text-3 my-3"><strong>Artists</strong></h3>
    <p class="text-4">For memories of your event, the prime event and wedding provide the best artist in your event.
    </p>
  </div>
</div>

<!-- section end -->
<!-- service -->
