<div class="container-fluid"  >
    <div class="container mx-auto p-3">

        <div *ngIf="imageUrls.length">
            <h5 class="section-title">Our work</h5>
            <h2 class="text-1 ">Gallery</h2>
            <div class="row">
                <div class="col-md-3 mt-md-0" *ngFor="let item of imageUrls">
                    <div class="gallery-img">
                        <img src="{{item.img_url}}" alt="Event gallery photo by Prime Event & Wedding" loading="lazy" width="400" height="300">
                        <i style="color: white;" class="pi pi-search" (click)="onSwitchModal(item.img_url)"></i>
                    </div>

                </div>
            </div>
        </div>
        <app-testimonial></app-testimonial>
        <app-contact-us></app-contact-us>
    </div>
</div>
<p-dialog [(visible)]="modalVisible" [modal]="true" [showHeader]="true" [draggable]="false">
    <div class="container dialog-container d-flex justify-content-center align-item-center">
        <div class="close-btn">
            <i (click)="onSwitchModal('')" class="pi pi-times"></i>
        </div>
        <img src={{modalImage}} alt="Expanded event gallery photo" width="800" height="600">
    </div>
</p-dialog>
